<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Golden</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="heading clearfix">
                <img src="img/logo.png" alt="Golden" class="logo">
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="titles">
                <div class="titles_first">
                    Добро пожаловать на мою страничку
                </div>
                <h1>
                    Приятно познакомиться
                </h1>
            </div>
            <a href="#" class="button">Рассказать больше</a>
        </div>
    </header>

<section id="services">
        <div class="container">
            <div class="title">
                <h2>
                    Сервисы
                </h2>
                <p>
                    Подзаголовок
                </p>
            </div>
            <div class="services clearfix">
                <div class="services_item">
                    <img src="img/icon1.png" alt="Услуга">
                    <h3>E-Commerce</h3>
                    <p>
                        Proin iaculis purus consequat sem cure
                        digni ssim. Donec porttitora entum suscipit
                        aenean rhoncus posuere odio in tincidunt.
                    </p>
                </div>
                <div class="services_item second">
                    <img src="img/icon2.png" alt="Услуга">
                    <h3>Responsive Web</h3>
                    <p>
                        Proin iaculis purus consequat sem cure
                        digni ssim. Donec porttitora entum suscipit
                        aenean rhoncus posuere odio in tincidunt.
                    </p>
                </div>                
                <div class="services_item last">
                    <img src="img/icon3.png" alt="Услуга">
                    <h3>Web Security</h3>
                    <p>
                        Proin iaculis purus consequat sem cure
                        digni ssim. Donec porttitora entum suscipit
                        aenean rhoncus posuere odio in tincidunt.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="title">
                <h2>
                    Портфолио
                </h2>
                <p>
                    Подзаголовок
                </p>
            </div>
            <div class="works clearfix">
                <img src="img/img1.jpg" alt="Работа">
                <img src="img/img2.jpg" alt="Работа">
                <img src="img/img3.jpg" alt="Работа">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="container">
                <div class="title">
                    <h2>
                        Обо мне
                    </h2>
                    <p>
                        Подзаголовок
                    </p>
                </div>
                <div class="about clearfix">
                    <div class="about_item clearfix">
                        <div class="img_about">
                            <img src="img/about1.jpg" alt="Услуга">
                        </div>
                        <div class="text">
                            <h3>
                                July 2010
                            </h3>
                            <h3>
                                Our Humble Beginnings
                            </h3>
                            <p>
                                Proin iaculis purus consequat sem cure
                                digni ssim. Donec porttitora entum suscipit
                                aenean rhoncus posuere odio in tincidunt. Proin
                                iaculis purus consequat sem cure digni
                                ssim. Donec porttitora entum suscipit.
                            </p>
                        </div>
                    </div>
                    <div class="about_item clearfix">
                        <div class="img_about_odd">
                            <img src="img/about2.jpg" alt="Услуга">
                        </div>
                        <div class="text_odd">
                            <h3>
                                January 2011
                            </h3>
                            <h3>
                                Facing Startup Battles
                            </h3>
                            <p>
                                Proin iaculis purus consequat sem cure
                                digni ssim. Donec porttitora entum suscipit
                                aenean rhoncus posuere odio in tincidunt. Proin
                                iaculis purus consequat sem cure digni
                                ssim. Donec porttitora entum suscipit.
                            </p>
                        </div>
                    </div>
                    <div class="about_item clearfix">
                        <div class="img_about">
                            <img src="img/about3.jpg" alt="Услуга">
                        </div>
                        <div class="text">
                            <h3>
                                December 2012
                            </h3>
                            <h3>
                                Enter The Dark Days
                            </h3>
                            <p>
                                Proin iaculis purus consequat sem cure
                                digni ssim. Donec porttitora entum suscipit
                                aenean rhoncus posuere odio in tincidunt. Proin
                                iaculis purus consequat sem cure digni
                                ssim. Donec porttitora entum suscipit.
                            </p>
                        </div>
                    </div>
                    <div class="about_item clearfix">
                        <div class="img_about_odd">
                            <img src="img/about4.jpg" alt="Услуга">
                        </div>
                        <div class="text_odd">
                            <h3>
                                february 2014
                            </h3>
                            <h3>
                                Our Triumph
                            </h3>
                            <p>
                                Proin iaculis purus consequat sem cure
                                digni ssim. Donec porttitora entum suscipit
                                aenean rhoncus posuere odio in tincidunt. Proin
                                iaculis purus consequat sem cure digni
                                ssim. Donec porttitora entum suscipit.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="title">
                <p>
                    © Copyright 2021 FreebiesXpress.com
                </p>
            </div>
        </div>
    </footer>
</body>
</html>